p img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

p {
  text-align: justify;
}

td,
th {
  text-align: center !important;
}

img[alt="drawing"] {
  width: 3rem;
  object-fit: cover;
}

img[alt="persona"] {
  width: 10rem;
  object-fit: cover;
}